
/* body {
    background-image: url("../../img/adobe.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
} */

.landingFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
}


